* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-size: 16px;
}
body {
    max-width: 1200px;
    margin: 0 auto 0;
    width: 100%;
}
/* .item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; } */
.item1 {
    grid-column: 1/4;
    grid-row: 1;
    margin-bottom: 30px;
    background: linear-gradient(to right, #54d2ef, #11bfe4);
    height: 96px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
    /* border-bottom: 1px solid blue; */
    /* padding-bottom: 30px; */
    
}
.item1:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #85B5F7;
    width: 100%;
    transform: translateX(-50%);
    bottom: -30px;
    left: 50%;
  }
.item2 {
    grid-column: 1/3;
    grid-row: 2;
    /* border-right: 1px dotted gray; */
    margin: auto 5px;
}
.item3 {
    grid-column: 3;
    grid-row: 2;
}
.item4 {
    grid-column: 1/span3;
    grid-row: 3;
    border-top: 1px solid #1869D8;
}
.grid-container {
    display: grid;
    /* grid-template-areas:
    'header header header header header header'
    'main main main main right right'
    'footer footer footer footer footer footer'; */
    grid-template-columns: auto auto 360px;
    /* gap: 10px; */
    /* background-color: #2196F3; */
    /* padding: 10px; */

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  position: relative;
}
.text {
    line-height: 66px;
    font-size: 30px;
    font-weight: 700;
    color: #B1EDFB;
    -webkit-text-stroke: 1px rgb(47, 47, 47);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.nav {
    width: 600px;
    height: 32px;
    list-style: none;
    position: absolute;
    top: 84px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    background-color: #b5d4fb;
    box-shadow: 2px 2px gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.nav>li {
    display: inline;
    font-size: 16px;
    line-height: 32px;
    color: #4e77d8;
    margin: auto 10px;
}
/* item 2 main */
.header {
    color: #ffa207;
    font-weight: 700;
    border-bottom: 2px solid rgb(178, 178, 178);
    padding-bottom: 15px;
    font-size: 20px;
    margin-bottom: 5px;
}
input {
    width: 50%;
    height: 20px;
    margin: 2px auto;
}
#gender1,#gender2 {
    width: auto;
}
.gender {
    display: inline-block;
    width: 50%;
    text-align: left;
}
.wrapper {
    text-align: end;
} 

.register {
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
}

.subjects {
    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    width: 380px;
}
.s-item {
    border: 1px solid rgb(168, 168, 168);
    margin: 4px 10px;
    text-align: left;
    background-color: rgb(243, 241, 241);
    height: 28px;
    line-height: 24px;
    padding-left: 5px;
}
.s-wrapper {
    height: 100%;
    border: 1px solid rgb(220, 220, 220);
}
.selected {
    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    width: 380px;
}
.se-item {
    border: 1px solid rgb(170, 170, 170);
    margin: 4px 10px;
    text-align: left;
    background-color: #fffa90;
    height: 28px;
    line-height: 24px;
    padding-left: 5px;
}
.se-wrapper {
    height: 100%;
    border: 1px solid rgb(222, 222, 222);
}
.buttongroup {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.buttongroup>input {
    width: 36px;
    margin: 3px;
    border-radius: 5px;
}

li {
    display: inline;
}

li:hover {
    color: red;
}
.button {
    color: #1869D8;
    border: 1px solid orange;
    background: none;
}

.footer>input {
    width: 100px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 2px solid #ffffff;
    text-align: center;
    padding: 2px;
    background-clip: padding-box, content-box;
    
}

tr:nth-child(odd) {
    background-color: #FFE2B1;
}
table th:nth-child(odd),td:nth-child(odd) {
    width: 16.67%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
table th:nth-child(even),td:nth-child(even) {
    width: 33.33%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

/* item 3 side */
.item3 {
    border-left: 1px dotted #1869D8;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid rgb(52, 52, 52);
	border-bottom: 5px solid transparent;
}
.twoside {
    font-size: 20px;
    font-weight: 900;
}
/* #new01 {
    border: 2px solid black;
} */
.news {
    margin: 2px;
}
.n-header {
    height: 40px;
    text-align: left;
    background-color: #FF8207;
    border: 2px solid #1869D8;
    color: #FFB12F;
}
.n-header>div {
    display: inline-block;
    margin: 5px;
    line-height: 35px;
    margin: 0;
}
.contentshow{
    color: #1869D8;
    padding: 10px;
    border: 1px solid rgb(186, 186, 186);
    border-top: none;
    display: block;
}
.contenthide{
    color: #1869D8;
    padding: 10px;
    border: 1px solid rgb(186, 186, 186);
    border-top: none;
    display: none;
}
.changecolor {
    background-color: #FFE2B1;
    border: 1px solid #FFB12F;
}
/* .content.visible {
    display: block;
}

.content.hide {
    display: none;
} */

/* item 4 footer */
.i4_wrap {
    background-color: #FFE2B1;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #FFB12F;
    box-shadow: 1px 1px 4px #FFB12F;
    text-align: center;
}
.i4_wrap>li {
    color: #FFB12F;
    text-decoration: underline #FFB12F;
    margin: auto 5px;
}
